.property__list{
    display: flex;
}
.property__item{
    width: 270px;
&:not(:last-child){
    margin-right: 30px;
}       
}
 .property__icon{
    color: var(--primary-text-color);
    @extend %align-list;
    justify-content: center;
    background:var(--background-color);
    width: 270px;
    height: 120px;
    border:none;
    border-radius: 4px;
    margin-bottom: 30px;
}
.property__icons{
    fill: currentColor;
}
.property__title{
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}
.property__text{
    @include font(400, 14px, 1.71, 0.03em);
    color: var(--titl-text-color);
}

