/* -------------------наши роботі--------------- */

.work
{ padding-bottom: 94px;}
.work__title{
  
    text-align: center; 
    @include font(700, 36px, 1.16, 0.03em);
    color:var(--primary-text-color);
    margin-bottom: 50px;
    }

    .work__list{
        display: flex;
    }
    .work__item:not(:last-child){
        margin-right: 32px;
    }
.work__link{
    position: relative; 
    display: block;
    line-height: 0;
}
.work__text{
position: absolute;  
text-align: center;
@include font(700, 14px, 1.14, 0.03em);
text-transform: uppercase;  
bottom: 0;
right: 0;
width: 370px;
height: 70px;
padding-top: 27px;
text-align: center;
background: rgba(47, 48, 58, 0.8);
color: #ffffff;
}

