body {
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    color: var(--primary-text-color);
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.link{
    text-decoration: none;
}
.section{
    padding: 94px 0;
}
// img {
//     display: block;
//     width: 100%;
//     height: 100%;
// }